# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc[cod]
report/reports
report/tmp
report/logs
logs/*
maxauto.egg-info
build
dist
config/config.yaml
maxauto/*.pyc
maxauto/logs/*
maxauto/report/logs/*